
pre{
    height: 100%;
    padding:20px;
    background: #daefca;
    color: #4e4444;
    margin:20px;
    position: relative;
    tab-size: 8px;
    white-space: pre-line;
    border-radius: 20px;
}
pre input{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 0;
}
pre span.copy{
    position: absolute;
    top: 0;
    right: 0;
    width: 90px;
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background: #becab5;
    border-radius: 10px;
    color: #423131;
    cursor: pointer;

}
code {
    padding: 0 0;
    font-size: 18px;
    line-height: 1.5;
    font-family: unset;
}
.p{
    font-size:16px;
}

.fontB{
    font-weight: bold;
}

span.line-span-title{
    display: block;
    font-size: 18px;
    line-height: 2;
}

span.line-span,span.line-span-p{
    display: block;
}

.line-span-p{
    text-indent: 0;
}

.i-Q{
    margin-top: 30px;
    display: block;
    line-height: 2;
    font-style: normal;
    position: relative;
    padding: 40px 10px 20px;
    border-left: 2px solid #52b304;
    border-top: 2px solid #52b304;
}
.i-Q::after{
    position: absolute;
    content: '我遇到的问题';
    top: 0;
    left: 0;
    width: 150px;
    color: #fff;
    text-align: center;
    box-shadow: 3px 3px 0px 1px #245200;
    background: #52b304;
}


.pad10{
    padding-left: 10px;
    padding-right: 10px;
}

.H-title{
    overflow: hidden;
}